/* index.module.scss */
.video {
    @media (max-width: 991px) {
        .responsive-iframe {
            max-width: 80%; /* Ajusta el ancho */
        }
    }

    @media (max-width: 768px) {
        .responsive-iframe {
            max-width: 95%; /* Ajusta el ancho */
        }
    }

    @media (max-width: 600px) {
        .responsive-iframe {
            max-width: 100%; /* Ajusta el ancho */
        }
    }
}